#left_column
{
	float:left;
	width:210px;
	min-height: 600px;
}

.hide
{
	display:none;
}

#right_column
{
	float:right;
	width: 480px;
}

#component
{
	width: 100%;
	margin: 0px 0px 15px 0px;
	clear:both;
}



			/* ----- News sidebar rules --------------------------*/
.module
		{
		position: relative;
		z-index: 50;
		margin: 0px 0px 20px 0px;
		padding: 0px 0px 10px 0px;
		}
		
.module a
{
	text-decoration: none;
}

.module h2 {
	border-bottom: 1px solid #4a6e94;
	margin-bottom: 0.3em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #1e466e;
	}
.module h2 a {
	text-decoration:none;
	color: #1e466e;
	}
	
.module dl {
	margin-bottom: 2em;
	font-size: 1.2em;
	}

.module  dl dt a {
	font-weight: bold;
	text-decoration: none;
	color: #003399;
	}

.module  dl dt a:hover {
	color: #0041c3;
	}

.module  dl dd {
	margin-bottom: 0.75em;
	}



.module  img {
	vertical-align: middle;
	}

.module .mbutton
	{
		float:right;
		position: relative;
		z-index: 50;
		margin: 0px 0px 0px 4px;
	}

.module .news_content
		{
			/*filter:alpha(opacity=25);
			-moz-opacity:.25;
			opacity:.25;*/
		}

.dragover
		{
			border-top: 2px solid black;
		}

.edit_window
{
	position: absolute; 
	background-color: #fcfcfc; 
	border: 3px solid #777777; 
	top: 200px; z-index: 999; 
	left: 160px; 
	padding: 5px 40px 40px 40px;
	min-width: 400px;
	min-height: 300px;
}

.edit_window label
{
	width: 80px;
}


a.link_title
{
	font-weight: bold;
	display:block;
	text-decoration: none;
	color: #003399;
	font-size: 1.1em;
}

a.link_title:hover {
	color: #0041c3;
	}

.link_description {
	display:block;
	margin-bottom: 0.75em;
	font-size: 1.1em;
	}