* text=auto !eol
/.bash_history -text
/.htaccess -text
/ElectList.htm -text
/ElectlistAce.html -text
/Flash7_map.swf -text
/OrigOL022806_calendar.php -text
/OrigOL022806_contact.php -text
/OrigOL022806_glossary.php -text
/OrigOL022806_links.php -text
/OrigOL022806_news.php -text
/OrigOL022806_privacy.php -text
/OrigOL031306_privacy.php -text
/Orig_Feb16_index.php -text
/Orig_about-methodology.php -text
/Orig_about.php -text
/Orig_advanced-search.php -text
/Orig_eguide.php -text
/Orig_links.php -text
/Orig_news.php -text
/Orig_reports.php -text
/Orig_reports1.php -text
/Orig_reports2.php -text
/Orig_reports3.php -text
/Orig_reports4.php -text
/Orig_reports5.php -text
/Orig_reports6.php -text
/Report.Class.php -text
/about-credits.php -text
/about-methodology.php -text
/about.php -text
/about_logo.php -text
/ace.html -text
admin/includes/Common.Dbtable.Class.php -text
admin/includes/Config.php -text
admin/includes/CountryView.Class.php -text
admin/includes/CountryViewNew.Class.php -text
admin/includes/Db.Class.php -text
admin/includes/Dbtable.Class.php -text
admin/includes/ElectionView.Class.php -text
admin/includes/common.php -text
admin/includes/conf.php -text
/adv.php -text
/advanced-search.php -text
/banner-rotator.php -text
/calendar.php -text
/calendar.xml -text
/calendar1.php -text
/calendar2.php -text
/calendar3.php -text
/calendar4.php -text
/calendar5.php -text
/calendar6.php -text
/calendarOL.php -text
/confirm.php -text
/contact-OLD-MODIFIED-23JUNE2009-BY-JS.php -text
/contact-process-DISABLED-BY-JS-24jun2009.php -text
/contact.php -text
/contact_logo.php -text
/contact_test.htm -text
/contact_test.php -text
/country-events.php -text
/country-links.php -text
/country-news.php -text
/country.php -text
/country1.php -text
/country_logo.php -text
css/CVS/Entries -text
css/CVS/Entries.Extra -text
css/CVS/Entries.Extra.Old -text
css/CVS/Entries.Old -text
css/CVS/Repository -text
css/CVS/Root -text
css/focus.css -text
css/ifes.css -text
css/mobile.css -text
css/msgs.css -text
css/nav.css -text
/eguide-preferences.php -text
/eguide-process.php -text
/eguide-profile.php -text
/eguide-signup.php -text
/eguide.php -text
/eguide2.php -text
/eguide_logo.php -text
/election.php -text
/election_banner.php -text
/election_logo.php -text
/electlist-confirm.php -text
/electlist-process.php -text
/export.php -text
/fix.php -text
/focus.php -text
/get_countries.php -text
/glossary.php -text
/glossary_logo.php -text
images/Thumbs.db -text
images/_table_ASC.gif -text
images/_table_DESC.gif -text
images/active_1.gif -text
images/ads/Buyers_Guide.jpg -text
images/ads/CODE-ElectionGuide-home-pg.gif -text
images/ads/CVS/Entries -text
images/ads/CVS/Entries.Extra -text
images/ads/CVS/Entries.Extra.Old -text
images/ads/CVS/Entries.Old -text
images/ads/CVS/Repository -text
images/ads/CVS/Root -text
images/ads/CVS/TortoiseCVS.Status -text
images/ads/LGS_IFESbanner.gif -text
images/ads/Thumbs.db -text
images/ads/aceproj.gif -text
images/ads/politics_online.gif -text
images/ads/rotate/codeinc.gif -text
images/ads/rotate/rifkin.gif -text
images/ads/rotate/smith.gif -text
images/ads/rotate2.php -text
images/ads/samplead.jpg -text
images/ads/today.GIF -text
images/button-advanced-search.gif -text
images/button-go.gif -text
images/button-search.gif -text
images/content-wrapper-country-bg.gif -text
images/content-wrapper-country-footer-wide-bg.gif -text
images/content-wrapper-country-header-bg.gif -text
images/content-wrapper-country-header-wide-bg.gif -text
images/eguide-wide-bottom.gif -text
images/eguide-wide-top.gif -text
images/flags/.htaccess -text
images/flags/800px-Flag_of_Venezuela_%28state%29.GIF -text
images/flags/CAFR0001.gif -text
images/flags/Guinea_Bissau.gif -text
images/flags/N_Ireland.gif -text
images/flags/N_Korea.gif -text
images/flags/Nigeria.gif -text
images/flags/NoIreland.jpg -text
images/flags/Northern_Cyprus.gif -text
images/flags/SaintHelena.gif -text
images/flags/South[!!-~]Africa.gif -text
images/flags/SouthKorea.gif -text
images/flags/SouthKrea.gif -text
images/flags/Thumbs.db -text
images/flags/UAE.gif -text
images/flags/USA.gif -text
images/flags/afghan.gif -text
images/flags/albania.gif -text
images/flags/algeria.gif -text
images/flags/andorra.gif -text
images/flags/angola.gif -text
images/flags/anguilla.gif -text
images/flags/antigua_barbuda.gif -text
images/flags/argentina.gif -text
images/flags/armenia.gif -text
images/flags/aruba.gif -text
images/flags/australia.gif -text
images/flags/austria.gif -text
images/flags/aw.gif -text
images/flags/azerbaijan.gif -text
images/flags/bahamas.gif -text
images/flags/bahrain.gif -text
images/flags/bangladesh.gif -text
images/flags/barbados.gif -text
images/flags/basque.png -text
images/flags/belarus.gif -text
images/flags/belarus.jpg -text
images/flags/belgium.gif -text
images/flags/belize.gif -text
images/flags/benin.gif -text
images/flags/benin.jpg -text
images/flags/bermuda.gif -text
images/flags/bolivia.gif -text
images/flags/bosnia.gif -text
images/flags/botswana.gif -text
images/flags/brazil.gif -text
images/flags/british_virgin_islands.gif -text
images/flags/bt-lgflag.gif -text
images/flags/bulgaria.gif -text
images/flags/burkinafaso.gif -text
images/flags/burundi.gif -text
images/flags/cambodia.gif -text
images/flags/cameroon.gif -text
images/flags/canada.gif -text
images/flags/capeverde.gif -text
images/flags/capeverde.jpg -text
images/flags/cayman.JPG -text
images/flags/caymanislands.gif -text
images/flags/centralafricanrepublic.gif -text
images/flags/chad.gif -text
images/flags/chechnya.gif -text
images/flags/chile.gif -text
images/flags/colombia.gif -text
images/flags/colombia.jpg -text
images/flags/comoros.gif -text
images/flags/congoRep.gif -text
images/flags/congobraz.gif -text
images/flags/cook_islands.gif -text
images/flags/corsica.gif -text
images/flags/costa_rica.gif -text
images/flags/cotedivoire.gif -text
images/flags/croatia.gif -text
images/flags/croatia.jpg -text
images/flags/cuba.gif -text
images/flags/cyprus.gif -text
images/flags/czech_republic.gif -text
images/flags/denmark.gif -text
images/flags/djibouti.gif -text
images/flags/dominica.gif -text
images/flags/dominican_rep.gif -text
images/flags/drcongo.gif -text
images/flags/easttimor.gif -text
images/flags/ecuador.gif -text
images/flags/egypt.gif -text
images/flags/el_salvador.gif -text
images/flags/emirati.gif -text
images/flags/eq_guinea.gif -text
images/flags/estonia.gif -text
images/flags/ethiopia.GIF -text
images/flags/ethiopia1.gif -text
images/flags/european_union.gif -text
images/flags/faroeisland.gif -text
images/flags/fiji.gif -text
images/flags/finland.gif -text
images/flags/flagNMA.JPG -text
images/flags/france.gif -text
images/flags/gabon.gif -text
images/flags/gambia.gif -text
images/flags/georgia.gif -text
images/flags/germany.gif -text
images/flags/ghana.gif -text
images/flags/gibraltar.gif -text
images/flags/greece.gif -text
images/flags/greenland.gif -text
images/flags/grenada.gif -text
images/flags/guatemala.gif -text
images/flags/guinea.gif -text
images/flags/guyana.gif -text
images/flags/haiti.gif -text
images/flags/haiti.jpg -text
images/flags/honduras.gif -text
images/flags/hongkong.gif -text
images/flags/hungary.gif -text
images/flags/iceland.gif -text
images/flags/india.gif -text
images/flags/indonesia.gif -text
images/flags/iran.gif -text
images/flags/iraq.gif -text
images/flags/ireland.gif -text
images/flags/israel.gif -text
images/flags/italy.gif -text
images/flags/jamaica.gif -text
images/flags/japan.gif -text
images/flags/jordan.gif -text
images/flags/kazakhstan.GIF -text
images/flags/kenya.gif -text
images/flags/kenya.jpg -text
images/flags/kiribati.gif -text
images/flags/kosovo.gif -text
images/flags/kuwait.gif -text
images/flags/kyrgyzstan.gif -text
images/flags/laos.gif -text
images/flags/latvia.gif -text
images/flags/lebanon.gif -text
images/flags/lebanonflag.gif -text
images/flags/lebanonw.gif -text
images/flags/leichtenstien.gif -text
images/flags/lesotho.gif -text
images/flags/liberia.gif -text
images/flags/lithuania.gif -text
images/flags/luxembourg.gif -text
images/flags/macao.gif -text
images/flags/macedonia.gif -text
images/flags/madagascar.gif -text
images/flags/malawi.gif -text
images/flags/malaysia.gif -text
images/flags/maldives.gif -text
images/flags/mali.gif -text
images/flags/malta.gif -text
images/flags/marshall_islands.gif -text
images/flags/mauritania.gif -text
images/flags/mauritius.GIF -text
images/flags/mayotte.gif -text
images/flags/mexico_flag.gif -text
images/flags/micronesia.gif -text
images/flags/mm.gif -text
images/flags/moldova.gif -text
images/flags/monaco1.gif -text
images/flags/mongolia.gif -text
images/flags/montenegro.bmp -text
images/flags/montserrat.gif -text
images/flags/morocco.gif -text
images/flags/mozambique.gif -text
images/flags/na.gif -text
images/flags/namibia.gif -text
images/flags/nauru.gif -text
images/flags/nepal.gif -text
images/flags/netherlandantilles.gif -text
images/flags/netherlands.gif -text
images/flags/new_zealand.gif -text
images/flags/new_zealand.jpg -text
images/flags/nicaragua.gif -text
images/flags/niger.gif -text
images/flags/nmaflag.gif -text
images/flags/nmaflag.jpg -text
images/flags/northercyprus.gif -text
images/flags/northernireland.gif -text
images/flags/northkorea.gif -text
images/flags/norway.gif -text
images/flags/oman.gif -text
images/flags/pakistan.gif -text
images/flags/palau.gif -text
images/flags/palestine.gif -text
images/flags/panama.gif -text
images/flags/papuanewguniea.gif -text
images/flags/paraguay.gif -text
images/flags/peru.gif -text
images/flags/philippines.gif -text
images/flags/picture1.jpg -text
images/flags/pitcairn.gif -text
images/flags/poland.gif -text
images/flags/poland.jpg -text
images/flags/portugal.gif -text
images/flags/puerto_rico.gif -text
images/flags/qatar.gif -text
images/flags/romania.gif -text
images/flags/romania.jpg -text
images/flags/romania2.gif -text
images/flags/russia.gif -text
images/flags/rwanda.gif -text
images/flags/saintlucia.gif -text
images/flags/samoa.gif -text
images/flags/sanmarino.gif -text
images/flags/sao_tome.gif -text
images/flags/sao_tome.jpg -text
images/flags/scotland.gif -text
images/flags/senegal.gif -text
images/flags/serbia.gif -text
images/flags/serbiamont.gif -text
images/flags/seychelles.gif -text
images/flags/sierraleone.gif -text
images/flags/singapore.gif -text
images/flags/skrea.gif -text
images/flags/slovakia.gif -text
images/flags/slovenia.gif -text
images/flags/solomanislands.gif -text
images/flags/somalia.gif -text
images/flags/south[!!-~]korea.gif -text
images/flags/southAfr.gif -text
images/flags/south_africa.gif -text
images/flags/spain.gif -text
images/flags/sr.gif -text
images/flags/sri_lanka.gif -text
images/flags/st_helena.gif -text
images/flags/st_kitts.gif -text
images/flags/st_vincent.gif -text
images/flags/sudan.jpg -text
images/flags/suriname.GIF -text
images/flags/swaziland.gif -text
images/flags/sweden.gif -text
images/flags/switzerland.gif -text
images/flags/syria.gif -text
images/flags/taiwan.gif -text
images/flags/tajikistan.gif -text
images/flags/tanzania.gif -text
images/flags/thailand.gif -text
images/flags/togo.gif -text
images/flags/tonga.gif -text
images/flags/transparent.gif -text
images/flags/trinidad.gif -text
images/flags/tunisia.gif -text
images/flags/turkAndcaicos.gif -text
images/flags/turkey.gif -text
images/flags/turkmenistan.gif -text
images/flags/turks_and_caicos.gif -text
images/flags/tuvalu.gif -text
images/flags/uganda.gif -text
images/flags/uganda.jpg -text
images/flags/uk.JPG -text
images/flags/uk.gif -text
images/flags/ukraine.gif -text
images/flags/uruguay.gif -text
images/flags/us.jpg -text
images/flags/uzbekistan.gif -text
images/flags/vanuatu.gif -text
images/flags/venezuela.gif -text
images/flags/venezuelaNew.GIF -text
images/flags/venezuelaNew.JPG -text
images/flags/venezuelaflag.GIF -text
images/flags/venezuelanewflag.gif -text
images/flags/vietnam.gif -text
images/flags/wales.gif -text
images/flags/yemen.gif -text
images/flags/zambia.gif -text
images/flags/zimbabwe.gif -text
images/footer-bg.gif -text
images/header-bg.jpg -text
images/icons/Orig_bbc.gif -text
images/icons/Thumbs.db -text
images/icons/allafrica.gif -text
images/icons/bbc.gif -text
images/icons/cnn.gif -text
images/icons/election-guide.gif -text
images/icons/reuters.gif -text
images/icons/xml.gif -text
images/interior/CVS/Entries -text
images/interior/CVS/Entries.Extra -text
images/interior/CVS/Entries.Extra.Old -text
images/interior/CVS/Entries.Old -text
images/interior/CVS/Repository -text
images/interior/CVS/Root -text
images/interior/CVS/TortoiseCVS.Status -text
images/interior/Thumbs.db -text
images/interior/newsletter-header.jpg -text
images/interior/newsletter-sponsor.gif -text
images/interior/recently-posted-resutls-h1.gif -text
images/interior/upcoming-bg.gif -text
images/interior/upcoming-elections-h1.gif -text
images/interior/upcoming-header-bg.gif -text
images/interior/week-in-review-h1.gif -text
images/main-wrapper-bg.gif -text
images/nav/CVS/Entries -text
images/nav/CVS/Entries.Extra -text
images/nav/CVS/Entries.Extra.Old -text
images/nav/CVS/Entries.Old -text
images/nav/CVS/Repository -text
images/nav/CVS/Root -text
images/nav/CVS/TortoiseCVS.Status -text
images/nav/Thumbs.db -text
images/nav/nav-primary-bg.gif -text
images/nav/nav-primary-li-bg.gif -text
images/nav/nav-secondary-bg.gif -text
images/nav/nav-secondary-li-bg.gif -text
images/newsletter/BuyersGuide.jpg -text
images/newsletter/Thumbs.db -text
images/newsletter/ace.jpg -text
images/newsletter/ace1.jpg -text
images/newsletter/ace2.jpg -text
images/newsletter/code.jpg -text
images/newsletter/dal.jpg -text
images/newsletter/edr.jpg -text
images/newsletter/footer-bg.gif -text
images/newsletter/newsletter-header.gif -text
images/newsletter/newsletter-header.jpg -text
images/newsletter/newsletter-sponsor.gif -text
images/newsletter/polaroid.gif -text
images/newsletter/politics_online.gif -text
images/newsletter/recently-posted-results.gif -text
images/newsletter/recently-posted-resutls-h1.gif -text
images/newsletter/upcoming-elections-h1.gif -text
images/newsletter/upcoming-elections.gif -text
images/newsletter/week-in-review-h1.gif -text
images/newsletter/week-in-review.gif -text
images/rss.gif -text
images/search-wrapper-bg.gif -text
images/sidebar-map.gif -text
images/upcoming-sidebar-wrapper-bg.gif -text
images/upcoming-sidebar-wrapper-header-bg.gif -text
includes/CVS/Entries -text
includes/CVS/Entries.Extra -text
includes/CVS/Entries.Extra.Old -text
includes/CVS/Entries.Old -text
includes/CVS/Repository -text
includes/CVS/Root -text
includes/CView.Class.php -text
includes/EView.Class.php -text
includes/ElectionList.Class.php -text
includes/ElectionList.Class2.php -text
includes/Export.Class.php -text
includes/Message.Class.php -text
includes/Orig0522_ElectionList.Class.php -text
includes/Report.Class.php -text
includes/SafeSQL.class.php -text
includes/Session.Class.php -text
includes/Signup.Class.php -text
includes/conf.php -text
includes/conf.php.cth.20060209 -text
includes/eguide_countries.php -text
includes/eguide_navi.php -text
includes/electionlistnew.Class.php -text
includes/electlist.html -text
includes/email/CVS/Entries -text
includes/email/CVS/Entries.Extra -text
includes/email/CVS/Entries.Extra.Old -text
includes/email/CVS/Entries.Old -text
includes/email/CVS/Repository -text
includes/email/CVS/Root -text
includes/email/contact.php -text
includes/email/eguide-confirm-email.php -text
includes/email/eguide-confirm.php -text
includes/email/eguide-signup.php -text
includes/email/eguide-unsub.php -text
includes/email/electlist-confirm.php -text
includes/email/electlist-signup.php -text
includes/footer.php -text
includes/header.php -text
includes/issues-array.php -text
includes/jump-links.php -text
includes/nav-about.php -text
includes/nav-country.php -text
includes/nav-country_Orig0209.php -text
includes/nav-election.php -text
includes/nav-region.php -text
includes/nav-search.php -text
includes/new_search_fs.php -text
includes/region_1.php -text
includes/region_2.php -text
includes/region_3.php -text
includes/region_4.php -text
includes/region_5.php -text
includes/region_6.php -text
includes/rsscreator.php -text
includes/search_countries.php -text
includes/sidebar-ads.php -text
includes/sidebar-elections.php -text
includes/sidebar-login.php -text
includes/sidebar-news.php -text
includes/sidebar-search.php -text
includes/signup-arrays.php -text
includes/test.ElectionList.Class.php -text
includes/test.sidebar-search.php -text
/index-test.php -text
/index.php -text
/index2.php -text
/indexOL01aug06.php -text
/initialFlash6_map.swf -text
/interest.php -text
/links.php -text
/links_logo.php -text
/logout.php -text
/map.swf -text
/map.xml -text
/map1.swf -text
/map_march[!!-~]17.swf -text
/mcalendar.php -text
/needs_data_map.swf -text
/news-search.php -text
/news.php -text
/news1.php -text
/news2.php -text
/news_banner.php -text
/news_item.php -text
/news_logo.php -text
/newsletter-search.php -text
/newsletter-signup.php -text
/newsletter-template.html -text
/newsletter-template.php -text
/newsletter.html -text
/newsletter.php -text
/newsletter_logo.php -text
/phpinfo-sibjdgwef.php -text
/privacy.php -text
/privacy_logo.php -text
/region-events.php -text
/region-links.php -text
/region.php -text
/region2.php -text
/region_logo.php -text
/reports.php -text
/reports1.php -text
/reports1_new.php -text
/reports2.php -text
/reports2_new.php -text
/reports3.php -text
/reports3_new.php -text
/reports4.php -text
/reports4_new.php -text
/reports5.php -text
/reports5_new.php -text
/reports6.php -text
/reports6_new.php -text
/reset.php -text
/results.php -text
rss/calendar.xml -text
rss/electlist.xml -text
rss/map.xml -text
rss/news.xml -text
rss/news_full.xml -text
rss/rss.php -text
rss/shortnews.xml -text
rss/shortnews.xml.html -text
scripts/CVS/Entries -text
scripts/CVS/Entries.Extra -text
scripts/CVS/Entries.Extra.Old -text
scripts/CVS/Entries.Old -text
scripts/CVS/Repository -text
scripts/CVS/Root -text
scripts/striper.js -text
/search-results-OL1Aug06.php -text
/search-results.php -text
/search-results1.php -text
/search-results2.php -text
/search-results_banner.php -text
/signup.php -text
/test.html -text
/test.index.php -text
/test.php -text
/test.search-results.php -text
tests/news.htm -text
tests/news2.htm -text
/unsub.php -text
/upcoming-elections.xml -text
/upcomingelections.php -text
/voter-turnout.php -text
/what-is-rss.php -text
